@model final.Models.Student

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h1>Index</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Family)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Family)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            Conselor
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.Conselor
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DegreeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DegreeType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isAssistant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isAssistant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isGraduated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isGraduated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
