@model final.Models.Plan

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Plan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.Mail)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherCourse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeacherCourse.Teacher.Mail) - @Html.DisplayFor(model => model.TeacherCourse.Course.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Not)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Not)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isPassed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isPassed)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
